@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jost:wght@200;400&family=Outfit:wght@400;700&family=Playfair+Display:ital,wght@1,700&family=Poppins:ital,wght@0,300;0,400;1,400&family=Roboto:wght@300&family=Urbanist:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,100&display=swap');



* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Jost', sans-serif;
    /* 
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Outfit', sans-serif;

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
    */
}

:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%)
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Lightgray);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    background-color: var(--White);
    padding: 1rem;
    margin-top: 4rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-align: center;
    padding-bottom: 2rem;
    box-shadow: 1px 12px 23px 1px;

    &.image,
    .data {
        width: 100%;

        & h2 {
            margin-top: 1rem;
            color: var(--Darkblue);
            font-weight: 700;
            font-family: 'Outfit', sans-serif;
            word-spacing: 0.2rem;
        }

        & p {
            color: var(--Grayishblue);
            font-weight: 600;
            margin-top: 1rem;
            font-family: 'Urbanist', sans-serif;
            padding-bottom: 1.5rem;
            word-spacing: 0.2rem;
        }
    }
}

img {
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}





@media only screen and (max-width: 1317px) {
    .wrapper {
        width: 25%;
    }
}
@media only screen and (max-width: 1260px) {
    .wrapper {
        width: 28%;
    }
}

@media only screen and (max-width: 1112px) {
    .wrapper {
        width:35%;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        width: 38%;
    }
}
@media only screen and (max-width: 820px) {
    .wrapper {
        width: 42%;
    }
}

@media only screen and (max-width: 750px) {
    .wrapper {
        width: 48%;
    }
}

@media only screen and (max-width: 666px) {
    .wrapper {
        width: 52%;
    }
}

@media only screen and (max-width: 612px) {
    .wrapper {
        width:58%;
    }
}

@media only screen and (max-width: 556px) {
    .wrapper {
        width:62%;
    }
} 


@media only screen and (max-width: 507px) {
    .wrapper {
        width: 75%;
    }
}

@media only screen and (max-width: 470px) {
    .wrapper {
        width: 72%;
    }
}

@media only screen and (max-width: 430px) {
    .wrapper {
        width: 78%;
    }
}

@media only screen and (max-width: 400px) {
    .wrapper {
        width: 84%;
    }
}

@media only screen and (max-width: 370px) {
    .wrapper {
        width: 92%;
    }
}

@media only screen and (max-width: 370px) {
    .wrapper {
        width: 92%;
    }
}

@media only screen and (max-width: 360px) {
    .wrapper {
        width: 92%;
    }
}